desktop.ini
/module06/output
/module06/packer_cache
/module06/base_4640.box
/module05/output
/module05/isos/CentOS-7-x86_64-Minimal-1908.iso
/module06/isos/CentOS-7-x86_64-Minimal-1908.iso
/module06/.vagrant
/module07/isos
/module07/.vagrant
/module07/ansible_4640.box


